In [25]:
           # MULTINOMIAL CLASSIFICATION

In [89]:
#classify gender of abalone based on other class

In [26]:
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv("C:\\Users\\user\\Downloads\\abalone.csv")
#abalone is marine snails

In [27]:
data

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [29]:
# it is multinomial since more than 2 type of classification

In [30]:
data["Sex"].value_counts()

M    1528
I    1342
F    1307
Name: Sex, dtype: int64

In [31]:
X=data.drop(["Sex"],axis=1)

In [32]:
y=data["Sex"]

In [33]:
X

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...
4172,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [34]:
y

0       M
1       M
2       F
3       M
4       I
       ..
4172    F
4173    M
4174    M
4175    F
4176    M
Name: Sex, Length: 4177, dtype: object

In [35]:
from sklearn.model_selection import train_test_split

In [60]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [41]:
from sklearn.linear_model import LogisticRegression

In [47]:
model=LogisticRegression(multi_class="multinomial",max_iter=1000) #max_iter for how many times your data get trained,it will power with number of rows

In [48]:
model.fit(X_train,y_train)

LogisticRegression(max_iter=1000, multi_class='multinomial')

In [74]:
pred=model.predict(X_test)
pred

array(['I', 'F', 'F', 'M', 'I', 'M', 'I', 'F', 'I', 'M', 'I', 'M', 'I',
       'M', 'M', 'I', 'I', 'M', 'M', 'I', 'F', 'F', 'F', 'I', 'M', 'M',
       'M', 'I', 'I', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'I',
       'I', 'M', 'F', 'M', 'M', 'I', 'M', 'F', 'M', 'M', 'F', 'I', 'I',
       'F', 'I', 'F', 'M', 'M', 'I', 'I', 'M', 'F', 'M', 'I', 'M', 'M',
       'F', 'F', 'I', 'I', 'F', 'F', 'I', 'M', 'M', 'F', 'I', 'M', 'M',
       'F', 'F', 'I', 'M', 'M', 'I', 'F', 'I', 'F', 'M', 'M', 'M', 'F',
       'M', 'F', 'M', 'I', 'M', 'I', 'M', 'F', 'I', 'M', 'M', 'I', 'M',
       'F', 'I', 'M', 'I', 'M', 'I', 'I', 'F', 'I', 'M', 'I', 'I', 'M',
       'F', 'M', 'I', 'M', 'M', 'F', 'I', 'M', 'F', 'I', 'M', 'M', 'I',
       'F', 'F', 'M', 'I', 'F', 'M', 'M', 'I', 'F', 'M', 'I', 'M', 'I',
       'F', 'M', 'I', 'M', 'M', 'F', 'I', 'M', 'I', 'M', 'I', 'I', 'F',
       'M', 'M', 'M', 'I', 'M', 'F', 'I', 'F', 'F', 'M', 'I', 'F', 'I',
       'I', 'M', 'M', 'M', 'I', 'M', 'M', 'I', 'M', 'I', 'F', 'F', 'I',
       'M', 'I', 'I', 'I', 'F', 'I', 'I', 'I', 'I', 'I', 'M', 'F', 'I',
       'F', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'I', 'I',
       'I', 'F', 'F', 'M', 'F', 'I', 'F', 'I', 'M', 'M', 'M', 'F', 'M',
       'I', 'I', 'M', 'I', 'F', 'M', 'M', 'M', 'I', 'I', 'M', 'I', 'I',
       'I', 'M', 'I', 'F', 'M', 'M', 'I', 'F', 'I', 'M', 'M', 'F', 'M',
       'F', 'I', 'I', 'I', 'I', 'F', 'M', 'I', 'F', 'M', 'I', 'F', 'I',
       'F', 'M', 'M', 'F', 'F', 'F', 'M', 'F', 'I', 'F', 'I', 'M', 'M',
       'F', 'F', 'M', 'M', 'I', 'I', 'M', 'F', 'M', 'I', 'I', 'I', 'I',
       'M', 'M', 'I', 'M', 'I', 'I', 'F', 'I', 'I', 'I', 'I', 'M', 'I',
       'M', 'F', 'M', 'I', 'I', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M',
       'M', 'I', 'F', 'M', 'I', 'M', 'M', 'M', 'I', 'M', 'M', 'I', 'M',
       'M', 'I', 'I', 'F', 'M', 'F', 'I', 'M', 'I', 'M', 'I', 'F', 'M',
       'M', 'M', 'F', 'M', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'I', 'I',
       'M', 'F', 'M', 'I', 'I', 'F', 'I', 'I', 'I', 'I', 'M', 'I', 'I',
       'M', 'I', 'F', 'I', 'F', 'M', 'F', 'F', 'M', 'M', 'I', 'M', 'I',
       'I', 'M', 'M', 'I', 'I', 'I', 'M', 'I', 'I', 'M', 'I', 'I', 'M',
       'M', 'I', 'I', 'I', 'F', 'I', 'M', 'M', 'M', 'I', 'I', 'I', 'M',
       'I', 'M', 'M', 'I', 'F', 'I', 'F', 'M', 'F', 'M', 'I', 'I', 'I',
       'M', 'I', 'F', 'M', 'F', 'I', 'I', 'M', 'I', 'F', 'I', 'I', 'F',
       'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'I', 'I', 'I', 'F', 'F',
       'M', 'M', 'F', 'I', 'F', 'I', 'M', 'I', 'I', 'M', 'F', 'F', 'M',
       'I', 'M', 'M', 'F', 'I', 'F', 'M', 'M', 'I', 'M', 'F', 'I', 'F',
       'M', 'I', 'F', 'M', 'I', 'I', 'M', 'I', 'I', 'I', 'F', 'I', 'M',
       'M', 'M', 'M', 'I', 'M', 'F', 'I', 'F', 'M', 'I', 'M', 'F', 'M',
       'I', 'M', 'F', 'M', 'F', 'I', 'M', 'M', 'I', 'M', 'F', 'M', 'I',
       'I', 'I', 'I', 'F', 'M', 'I', 'M', 'I', 'M', 'M', 'F', 'M', 'M',
       'M', 'M', 'M', 'F', 'I', 'I', 'I', 'F', 'I', 'M', 'I', 'I', 'M',
       'I', 'I', 'M', 'I', 'M', 'F', 'I', 'M', 'M', 'I', 'I', 'I', 'M',
       'F', 'I', 'I', 'I', 'I', 'F', 'I', 'I', 'I', 'I', 'I', 'M', 'F',
       'I', 'I', 'M', 'M', 'M', 'F', 'M', 'M', 'I', 'M', 'F', 'F', 'I',
       'I', 'F', 'M', 'I', 'I', 'M', 'I', 'M', 'F', 'M', 'M', 'M', 'I',
       'F', 'F', 'F', 'I', 'M', 'M', 'I', 'F', 'I', 'M', 'I', 'M', 'M',
       'M', 'I', 'M', 'I', 'F', 'M', 'I', 'I', 'M', 'I', 'M', 'F', 'I',
       'M', 'M', 'M', 'M', 'I', 'I', 'F', 'M', 'M', 'I', 'F', 'I', 'I',
       'I', 'M', 'M', 'I', 'I', 'I', 'I', 'M', 'I', 'F', 'M', 'F', 'M',
       'I', 'M', 'F', 'F', 'F', 'I', 'M', 'M', 'M', 'I', 'M', 'F', 'I',
       'M', 'F', 'M', 'M', 'F', 'M', 'M', 'M', 'I', 'F', 'I', 'F', 'M',
       'M', 'I', 'I', 'I', 'I', 'I', 'M', 'F', 'I', 'M', 'M', 'I', 'M',
       'I', 'M', 'I', 'M', 'I', 'I', 'M', 'I', 'I', 'I', 'I', 'M', 'I',
       'I', 'I', 'I', 'F', 'I', 'I', 'I', 'I', 'M', 'I', 'F', 'M', 'I',
       'M', 'F', 'M', 'I', 'I', 'M', 'I', 'I', 'M', 'F', 'F', 'M', 'I',
       'I', 'F', 'M', 'M', 'I', 'I', 'I', 'I', 'F', 'I', 'F', 'I', 'I',
       'I', 'M', 'M', 'M', 'F', 'M', 'I', 'F', 'M', 'I', 'M', 'M', 'M',
       'I', 'M', 'I', 'M', 'I', 'M', 'M', 'M', 'M', 'M', 'F', 'I', 'M',
       'I', 'F', 'F', 'F', 'M', 'I', 'F', 'M', 'F', 'M', 'F', 'I', 'M',
       'M', 'M', 'I', 'M', 'M', 'I', 'I', 'M', 'F', 'F', 'I', 'I', 'I',
       'M', 'I', 'I', 'F', 'I', 'M', 'I', 'M', 'M', 'I', 'I', 'M', 'M',
       'M', 'I', 'I', 'F', 'I', 'I', 'I', 'I', 'M', 'F', 'F', 'M', 'I',
       'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'F', 'I', 'I',
       'F', 'I', 'M', 'F', 'M', 'F', 'F', 'M', 'M', 'M', 'I', 'F', 'I',
       'F', 'I', 'M', 'I'], dtype=object)

In [77]:
y_test

1102    M
3566    M
3598    M
3942    F
3092    M
       ..
2555    I
3788    F
772     M
2060    M
1135    I
Name: Sex, Length: 836, dtype: object

In [78]:
from sklearn.metrics import confusion_matrix

In [79]:
cm=confusion_matrix(y_test,pred)

In [80]:
cm

array([[ 95,  41, 133],
       [ 16, 209,  34],
       [ 71,  73, 164]], dtype=int64)

In [81]:
pd.DataFrame(cm,index=["Female","Infant","Male"],columns=["predicted_female","predicted_infant","predicted_male"])

        predicted_female  predicted_infant  predicted_male
Female                95                41             133
Infant                16               209              34
Male                  71                73             164

In [82]:
from sklearn import metrics

In [83]:
metrics.accuracy_score(y_test,pred)

0.5598086124401914

In [ ]:
       
   #    Classify the type of species using multinomial logistic regression