In [1]:
import pandas as pd

In [5]:
data=pd.read_csv("C:\\Users\\user\\Downloads\\Baye's.csv")
data
df=pd.DataFrame(data)
df

     Outlook  Temp Humidity Windy Play  Unnamed: 5
0      Rainy   Hot     High     f   no         NaN
1      Rainy   Hot     High     t   no         NaN
2   Overcast   Hot     High     f  yes         NaN
3      Sunny  Mild     High     f  yes         NaN
4      Sunny  Cool   Normal     f  yes         NaN
5      Sunny  Cool   Normal     t   no         NaN
6   Overcast  Cool   Normal     t  yes         NaN
7      Rainy  Mild     High     f   no         NaN
8      Rainy  Cool   Normal     f  yes         NaN
9      Sunny  Mild   Normal     f  yes         NaN
10     Rainy  Mild   Normal     t  yes         NaN
11  Overcast  Mild     High     t  yes         NaN
12  Overcast   Hot   Normal     f  yes         NaN
13     Sunny  Mild     High     t   no         NaN

In [15]:
X=df.drop(columns=['Temp','Windy','Unnamed: 5','Play'])
X

     Outlook Humidity
0      Rainy     High
1      Rainy     High
2   Overcast     High
3      Sunny     High
4      Sunny   Normal
5      Sunny   Normal
6   Overcast   Normal
7      Rainy     High
8      Rainy   Normal
9      Sunny   Normal
10     Rainy   Normal
11  Overcast     High
12  Overcast   Normal
13     Sunny     High

In [8]:
Y=df["Play"]
Y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: Play, dtype: object

In [13]:
X=df.drop(columns=['Temp','Windy','Unnamed: 5'])
X=X.drop(columns=["Play"])
X

     Outlook Humidity
0      Rainy     High
1      Rainy     High
2   Overcast     High
3      Sunny     High
4      Sunny   Normal
5      Sunny   Normal
6   Overcast   Normal
7      Rainy     High
8      Rainy   Normal
9      Sunny   Normal
10     Rainy   Normal
11  Overcast     High
12  Overcast   Normal
13     Sunny     High

In [12]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le=LabelEncoder()

In [21]:
weather_encoded=le.fit_transform(X['Outlook'])

In [22]:
weather_encoded

array([1, 1, 0, 2, 2, 2, 0, 1, 1, 2, 1, 0, 0, 2])

In [23]:
humidity_encoded=le.fit_transform(X['Humidity'])
humidity_encoded

array([0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0])

In [25]:
features=list(zip(weather_encoded,humidity_encoded))
features

[(1, 0),
 (1, 0),
 (0, 0),
 (2, 0),
 (2, 1),
 (2, 1),
 (0, 1),
 (1, 0),
 (1, 1),
 (2, 1),
 (1, 1),
 (0, 0),
 (0, 1),
 (2, 0)]

In [26]:
              #GAUSSIAN NAIVE BAYE'S

In [27]:
from sklearn.naive_bayes import GaussianNB

In [28]:
model=GaussianNB()

In [32]:
model.fit(features,Y) #for less data we don't do splitting,if it is big we have to do splitting before this

GaussianNB()

In [51]:
w,h=map(int,input().split())

2 0

In [52]:
pred=model.predict([[w,h]])

In [53]:
pred

array(['no'], dtype='<U3')

In [54]:
pred=model.predict([[2,0]])
pred

array(['no'], dtype='<U3')

In [38]:
from sklearn import metrics

In [40]:
#here we cannot find accuracy since we are not splitting data